@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
/* FONTS */
/* SPACING */
/*Table Style*/
/*table {
    font-family: $font-main;

    caption {
        font-weight: $bold;
        font-size: 36px;
    }

    thead {
        tr {
            th {
                font-weight: $bold;
                font-size: 26px;
                padding-right: $baseline;
            }
        }
    }

    tbody {
        tr {
            td {
                font-weight: $regular;
                font-size: 20px;
            }
        }
    }
}*/
/*Responsive table - Start*/
/*@media screen and (max-width: 600px) {
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
    }    
}*/
/*Responsive table - End*/
/*Bootstrap Grid System - Start*/
/*.container {
    font-family: $font-main;

    .tblheader {
        font-weight: $bold;
        font-size: 36px;

        div {
            font-weight: $bold;
            font-size: 26px;
            padding-right: $baseline;
        }
    }

    .row {
        div {
            font-weight: $regular;
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 600px) {
    .row {
        border-bottom: 3px solid #ddd;
        
        div::before {
            content: attr(data-label);
            float: left;
            padding-right: $baseline;
        }

        div {
            border-bottom: 1px solid #ddd;
            text-align: right;
        }

        &.tblheader {
            display: none;
        }
    }
}*/
/*Bootstrap Grid System - End*/
/*Isotope Metafizzy - Start*/
.button-filter {
  margin-bottom: 20px; }

.grid-container {
  padding-left: 0; }
  .grid-container .grid-item {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey; }
    .grid-container .grid-item.planet {
      background-color: lightgreen; }
    .grid-container .grid-item.dwarf {
      background-color: plum; }

/*Isotope Metafizzy - End*/
